/**
 *
 * CSS Materialpool Backend
 *
 */

body.post-type-material #post-preview {
    display: none;
}
 
img.materialpool-admin-autor-pic {
    max-width: 100px;
}

img.materialpool-admin-organisation-pic {
    max-width: 100px;
}

#material-screenshot {
    width: 400px;
    height: 300px;
    float: left;
    padding-right: 20px;
}

#generate-screenshot-container {
    float: left;
}


#select2-results {
    min-width: 380px !important;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

input.uncheck_themenseite.themenseite-cb-backend {
    width: auto !important;
    display:inline;
    line-height: 1.5em;

}

.materialpool-notice-error {
    margin: 10px 0px 10px 0px;
    padding: 1px 10px 1px 10px;
    -webkit-box-shadow: -10px 0px 0px 0px rgba(220,50,50,1);
    -moz-box-shadow: -10px 0px 0px 0px rgba(220,50,50,1);
    box-shadow: -10px 0px 0px 0px rgba(220,50,50,1);
    color: #dc3232;
}


.acf-taxonomy-field .categorychecklist-holder {
    max-height: 100%!important;
}

#tagsdiv-schlagwort {
    display: none;
}
#tagsdiv-bildungsstufe {
    display: none;
}
#tagsdiv-altersstufe {
    display: none;
}
#tagsdiv-medientyp {
    display: none;
}
#tagsdiv-sprache {
    display: none;
}
#tagsdiv-vorauswahl {
    display: none;
}
#tagsdiv-inklusion {
     display: none;
}
#tagsdiv-verfuegbarkeit {
      display: none;
}
#tagsdiv-zugaenglichkeit {
    display: none;
}
#tagsdiv-lizenz {
    display: none;
}
#tagsdiv-werkzeug {
    display: none;
}
#tagsdiv-rubrik {
    display: none;
}
#tagsdiv-kompetenz {
    display: none;
}
#bildungsstufediv {
    display: none;
}

#medientypdiv {
    display: none;
}

#acf-field_5dbc82995b741 {
    height: 3em;
}